/* Estilos globales */
body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
  }
  
  /* Contenedores centrados */
  .register-container, .dashboard-container, .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  mat-card {
    width: 400px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  mat-card-title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    color: white;
  }